body {
    padding: 20px;
}

textarea {
    display: none;
}

[id^="tpl-"] {
    margin: 20px;
}

form {
    margin: 30px;
    padding: 20px;
    border-top: 1px solid #eee;
}

.hr-desc {
    text-align: right;
    position: relative;
}

.hr-desc span {
    color: #fff;
    text-shadow: 1px 1px 3px #ccc;
    padding: 0 10px;
    background: #ddd;
}

.hr-desc:after {
    content: '';
    width: 100%;
    border-top: 1px dashed #eee;
    position: absolute;
    left: 0;
    top: 9px;
    z-index: -1;
}