@import "../sources/common";

.main {
  img {
    width: 100%;
  }

  table {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .top-pic-container td {
    background-size: cover;
  }

  .h-r {
    background: #eee;
    height: 2px;
    padding: 0;
    width: 98%;
    margin: 5px auto;
  }

  .v-r {
    background: #eee;
    width: 2px;
    height: 100%;
    margin: 0 5px;
  }
}

/*
#tpl-750 .title, #tpl-790 .title {
  width: 206px;
  font-size: 22px;
  height: 38px;
  line-height: 38px;
}

#tpl-950 .title, #tpl-990 .title {
  width: 250px;
  font-size: 26px;
  height: 46px;
  line-height: 46px;
}

#tpl-750 .header-tr-height, #tpl-790 .header-tr-height, #tpl-950 .header-tr-height, #tpl-990 .header-tr-height {
  height: 6px;
}

.top-pic {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

#tpl-750 .top-pic {
  width: 350px;
  height: 300px;
}

#tpl-790 .top-pic {
  width: 370px;
  height: 320px;
}

#tpl-950 .top-pic {
  width: 450px;
  height: 390px;
}

#tpl-990 .top-pic {
  width: 470px;
  height: 400px;
}

#tpl-750 .content_w_h {
  width: 170px;
  height: 260px;
}

#tpl-790 .content_w_h {
  width: 180px;
  height: 270px;
}

#tpl-950 .content_w_h {
  width: 220px;
  height: 350px;
}

#tpl-990 .content_w_h {
  width: 230px;
  height: 370px;
}

#tpl-750 .line-width {
  width: 724px;
}

#tpl-790 .line-width {
  width: 764px;
}

#tpl-950 .line-width {
  width: 924px;
}

#tpl-990 .line-width {
  width: 964px;
}
*/








