@import "../sources/common";

ul, li {
  list-style: none;
}

.container {
  font-size: 14px;
  border: 2px solid #ec040d;
}

.red {
  color: #e9040d;
}

.b {
  font-weight: bold;
}

.text-muted {
  color: #9c9d9d;
}