@import "../sources/common";

$color-primary: #DA2E0A;

body {
  line-height: 24px;
}

img {
  width: 100px;
}

.color-primary-color {
  color: $color-primary;
  font-size: 18px;
}

.color-primary-bg {
  background: $color-primary;
}

.divide {
  height: 1px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
}

ul, li {
  list-style: none;
}

.container {
  font-size: 14px;
  border: 1px solid $color-primary;
}

.b {
  font-weight: bold;
}

.text-muted {
  color: #9c9d9d;
}