@import "../sources/common";


#tpl-750 .set-height ,#tpl-790 .set-height{
  height: 15px;
}
#tpl-950 .set-height ,#tpl-990 .set-height{
  height: 20px;
}
#tpl-750 .set-width ,#tpl-790 .set-width{
  width: 15px;
}
#tpl-950 .set-width ,#tpl-990 .set-width{
  width: 20px;
}

#tpl-750 .title-text-h ,#tpl-790 .title-text-h{
  height: 35px;
  line-height: 16px;
}
#tpl-950 .title-text-h,#tpl-990 .title-text-h{
  height: 40px;
  line-height: 18px;
}

#tpl-750 .pic-icon,#tpl-790 .pic-icon{
  width: 59px;
  height: 59px;
  background-image: url(https://img.alicdn.com/imgextra/i3/92779311/TB2l9LjnVXXXXaSXXXXXXXXXXXX-92779311.png);
  padding-top:6px;
}
#tpl-950 .pic-icon,#tpl-990 .pic-icon{
  width: 70px;
  height: 68px;
  background-image: url(https://img.alicdn.com/imgextra/i1/92779311/TB2e2zcnVXXXXcmXXXXXXXXXXXX-92779311.png);
  padding-top:10px;
}
#tpl-750 .price-height,#tpl-790 .price-height{
  height: 40px;
  line-height: 40px;
}
#tpl-950 .price-height,#tpl-990 .price-height{
  height: 50px;
  line-height: 50px;
}
#tpl-750 .promoPrice-font-size,#tpl-790 .promoPrice-font-size{
  font-size: 20px;
}
#tpl-950 .promoPrice-font-size,#tpl-990 .promoPrice-font-size{
  font-size: 24px;
}
#tpl-750 .Price-font-size,#tpl-790 .Price-font-size{
  font-size: 12px;
}
#tpl-950 .Price-font-size,#tpl-990 .Price-font-size{
  font-size: 14px;
}
#tpl-750 .savePrice,#tpl-790 .savePrice{
  font-size: 14px;
}
#tpl-950 .savePrice,#tpl-990 .savePrice{
  font-size: 16px;
}

#tpl-750 .title-s-margin{
  margin-top: 125px;
}
#tpl-790 .title-s-margin{
  margin-top: 135px;
}
#tpl-950 .title-s-margin{
  margin-top: 167px;
}
#tpl-990 .title-s-margin{
  margin-top: 177px;
}

#tpl-750 .promoPrice-font-size0,#tpl-790 .promoPrice-font-size0{
  font-size: 24px;
  height: 24px;
  line-height: 24px;
}
#tpl-950 .promoPrice-font-size0,#tpl-990 .promoPrice-font-size0{
  font-size: 32px;
  height: 32px;
  line-height: 32px;
}

#tpl-750 .promoPrice-height,#tpl-790 .promoPrice-height{
  height: 35px;
  line-height: 35px;
}
#tpl-950 .promoPrice-height,#tpl-990 .promoPrice-height{
  height: 47px;
  line-height: 47px;
}


#tpl-750 .promoPrice-font-size1,#tpl-790 .promoPrice-font-size1{
  font-size:18px;
}
#tpl-950 .promoPrice-font-size1,#tpl-990 .promoPrice-font-size1{
  font-size:26px;
}

#tpl-750 .Price-font-size,#tpl-790 .Price-font-size{
  font-size:12px;
}
#tpl-950 .Price-font-size,#tpl-990 .Price-font-size{
  font-size:14px;
}

#tpl-750 .price-left-width{
  width:160px;
}
#tpl-790 .price-left-width{
  width: 170px;
}
#tpl-950 .price-left-width{
  width: 205px;
}
#tpl-990 .price-left-width{
  width: 215px;
}

#tpl-750 .price-text-width,#tpl-790 .price-text-width{
  width: 60px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}
#tpl-950 .price-text-width,#tpl-990 .price-text-width{
  width: 75px;
  height:30px;
  line-height: 30px;
  font-size: 16px;
}

#tpl-750 .buy-font,#tpl-790 .buy-font{
  font-size: 14px;
}
#tpl-950 .buy-font,#tpl-990 .buy-font{
  font-size: 18px;
}