@import "../sources/common";

.main {
  img {
    width: 100%;
  }

  table {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .top-pic-container td {
    background-size: cover;
  }

  .h-r {
    background: #eee;
    height: 2px;
    padding: 0;
    width: 98%;
    margin: 5px auto;
  }

  .v-r {
    background: #eee;
    width: 2px;
    height: 100%;
    margin: 0 5px;
  }
}


