@import "../sources/m-common";

.tpl-container {
  background: #f61948;

  .banner {
    img {
      width: px2rem(750);
      height: px2rem(343);
    }
  }

  .items {
    display: flex;
    justify-content: space-between;

    .item {
      width: px2rem(370);
      color: #fff;
      margin-bottom: px2rem(10);

      img {
        width: px2rem(370);
        margin-bottom: px2rem(10);
      }

      .desc {
        margin: 0 px2rem(12);

        .price, .btn, .title {
          font-size: 12px;
        }

        .title {
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: center;
          margin-bottom: px2rem(10);
        }

        .price {
          float: left;
          color: #fff7a0;
          font-size: 12px;
          margin-top: px2rem(5);

          b {
            font-size: 14px;
          }
        }

        .btn {
          color: #c61010;
          border-radius: px2rem(15);
          padding: 3px 5px;
          float: right;
          background: #fff7a0;
        }
      }

    }
  }
}